<div class="task">
  <div class="container">
    <mat-checkbox
      (change)="updateTaskActiveHandler($event)"
      [checked]="task.active"
      color="primary"
      class="checkBox"
    ></mat-checkbox>
    <ng-template #title>
      <h3
        (dblclick)="activateEditMode()"
        [ngClass]="{ activeTaskTitle: !task.active, completeTaskTitle: task.active }"
      >
        {{ task.task }}
      </h3>
    </ng-template>
    <mat-form-field *ngIf="isEditMode; else title" class="changeTitleInput" autofocus>
      <mat-label>New task title</mat-label>
      <input
        matInput
        [(ngModel)]="newTitle"
        (keyup.enter)="editTaskTitleHandler()"
        (blur)="editTaskTitleHandler()"
        autofocus
      />
    </mat-form-field>
  </div>
  <button mat-mini-fab color="primary" (click)="deleteTaskHandler()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
