<div class="task">
  <div class="container">
    <input type="checkbox" (click)="updateTaskActiveHandler($event)" [checked]="task.active" />
    <ng-template #title>
      <h3
        (dblclick)="activateEditMode()"
        [ngClass]="{ activeTaskTitle: !task.active, completeTaskTitle: task.active }"
      >
        {{ task.task }}
      </h3>
    </ng-template>
    <input
      *ngIf="isEditMode; else title"
      (blur)="editTaskTitleHandler()"
      (keyup.enter)="editTaskTitleHandler()"
      [(ngModel)]="newTitle"
      autofocus
    />
  </div>
  <button (click)="deleteTaskHandler()" class="taskButton">&times;</button>
</div>
