.mainBox{
  margin-top: 20px;
}
.content {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.header{
  display: flex;
  justify-content: space-between;
}
.inputField{
  height: 45px;
  margin-bottom: 30px;
}
.inputField input:focus{
  border-color: #dc3535;
}
.inputLabel{
  font-size: 18px;
}
