<div class="header">
  <div class="inputField">
    <input
      placeholder="Add new todolist"
      (keyup.enter)="addTodoHandler()"
      [(ngModel)]="todoTitle"
    />
    <button (click)="addTodoHandler()" class="addTodoButton">+</button>
  </div>
  <button class="btn btn-primary btn-large btn-block" type="submit" (click)="logoutHandler()">
    Logout
  </button>
</div>
<div class="content">
  <todo-todo
    *ngFor="let todo of todos$ | async"
    [todo]="todo"
    (deleteTodoEvent)="deleteTodoHandler($event)"
    (editTitleEvent)="editTodoHandler($event)"
  ></todo-todo>
</div>
