<div class="profile">
  <mat-card>
    <div class="profileScreen">
      <div
        [ngStyle]="{ 'background-image': 'url(' + (profile$ | async)?.picture + ')' }"
        class="profileAva"
      ></div>
      <h2 class="profileName">
        {{ (profile$ | async)?.username }}
      </h2>
      <div class="profileStats">
        <p>
          Total todolists: <span>{{ profile.todoCount }}</span>
        </p>
        <p>
          Total/Completed tasks:
          <span>{{ profile.taskCount }}/{{ profile.taskCompleted }}</span>
        </p>
      </div>
      <button
        mat-raised-button
        color="primary"
        class="writeMessageButton"
        [routerLink]="['../../messages', profile.id]"
      >
        To write a message
      </button>
    </div>
  </mat-card>
</div>
