<div class="wrapper">
  <div class="todoHeader">
    <mat-form-field *ngIf="isEditMode; else title" class="changeTitleInput" autofocus>
      <mat-label>New todolist title</mat-label>
      <input
        matInput
        [(ngModel)]="newTitle"
        (keyup.enter)="editTitleHandler()"
        (blur)="editTitleHandler()"
        autofocus
      />
    </mat-form-field>
    <ng-template #title>
      <h1 (dblclick)="activateEditMode()">{{ todo.title }}</h1>
    </ng-template>
    <button mat-mini-fab color="primary" (click)="deleteTodoHandler()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="inputField">
    <mat-form-field color="primary" class="taskTitleInput">
      <mat-label class="inputLabel">Task title</mat-label>
      <input matInput (keyup.enter)="addTaskHandler()" [(ngModel)]="newTaskTitle" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addTaskHandler()">
      <mat-icon>plus_one</mat-icon>
    </button>
  </div>
  <div>
    <todo-tasks [todoId]="todo.id"></todo-tasks>
  </div>
  <todo-tasks-filter
    (changeFilterEvent)="changeFilterHandler($event)"
    [filter]="todo.filter"
  ></todo-tasks-filter>
</div>
