.sender{
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  height: 85px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  transition: .3s;
  margin-bottom: 5px;
  width: 98%;
}
.sender:hover{
  scale: 1.05;
}
.activeSender{
  background-color: #3f51b5;
  color: white;
}

