<div class="container">
  <button
    [ngClass]="{ activeFilterButton: filter === 'all', filterButton: filter !== 'all' }"
    (click)="changeFilterHandler('all')"
  >
    All
  </button>
  <button
    [ngClass]="{ activeFilterButton: filter === 'active', filterButton: filter !== 'active' }"
    (click)="changeFilterHandler('active')"
  >
    Active
  </button>
  <button
    [ngClass]="{ activeFilterButton: filter === 'complete', filterButton: filter !== 'complete' }"
    (click)="changeFilterHandler('complete')"
  >
    Complete
  </button>
</div>
